.contact-form {
  height: 100vh;
  background: magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contentWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem;
    width: 100%;
  }

  .formRow {
    padding: 1rem 0;
  }

  .label {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
  }

  input {
    width: 100%;
    display: block;
    padding: 1rem;
  }
}
