.hero {
  min-height: 100vh;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .visualWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .visual {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.5;
    }
  }

  .contentWrapper {
    position: relative;
    font-size: 4rem;
  }

  .name {
    color: magenta;
    display: inline-block;
  }
}
